#index-body {
  background-image: url('imgs/bg_frame.png');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#other-body {
  background-color:#f9b9b9;
}
#home-title {
  display:flex;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 60%;
  justify-content: center;
}
#buttons {
  display: flex;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 60%;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-between;
}
#back {
  flex: 1;
  padding-top: 2%;
  padding-left: 4%;
}
#board-1 {
  position: relative;
  flex: 4;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
}
#home-button {
  flex: 1;
  padding-top: 2%;
  padding-left: 5%;
}
#header-text {
  font-family: "lores-21-serif", sans-serif;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  color: black;
  font-size: 36px;
  text-align: center;
}
#info-text {
  font-family: "lores-21-serif", sans-serif;
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-45%, -30%);
  color: black;
  font-size: 30px;
  text-align: center;
}
#other-text {
  font-family: "lores-21-serif", sans-serif;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: black;
  font-size: 36px;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
#extra-text {
  font-family: "lores-21-serif", sans-serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: black;
  font-size: 30px;
  text-align: center;
}
#board-2 {
  position: relative;
  flex: 4;
  padding-top: 2%;
  justify-content: center;
}
#picture {
  position: absolute;
  top: 22%;
  left: 18%;
  transform: translate(-18%, -22%);
}
#picture-b {
  position: absolute;
  top: 25%;
  left: 46%;
  transform: translate(-46%, -25%);
}
#desktop {
  position: absolute;
  top: 33.5%;
  left: 50.5%;
  transform: translate(-50.5%, -33.5%);
}
#desktop-b {
  position: absolute;
  top: 25%;
  left: 47%;
  transform: translate(-47%, -25%);
}
#passport {
  position: absolute;
  top: 22.5%;
  left: 81%;
  transform: translate(-81%, -22.5%);
}
#passport-b {
  position: absolute;
  top: 28%;
  left: 45.5%;
  transform: translate(-45.5%, -28%);
}
#books {
  position: absolute;
  top: 44%;
  left: 84.5%;
  transform: translate(-84.5%, -44%);
}
#books-b {
  position: absolute;
  top: 30%;
  left: 43%;
  transform: translate(-43%, -30%);
}
#chiika {
  position: absolute;
  top: 70%;
  left: 18%;
  transform: translate(-18%, -70%);
}
#chiika-b {
  position: absolute;
  top: 27%;
  left: 48%;
  transform: translate(-48%, -27%);
}
#kero {
  position: absolute;
  top: 72.5%;
  left: 28.5%;
  transform: translate(-28.5%, -72.5%);
}
#kero-b {
  position: absolute;
  top: 27%;
  left: 48%;
  transform: translate(-48%, -27%);
}
#blanket {
  position: absolute;
  top: 80.75%;
  left: 74.5%;
  transform: translate(-74.5%, -80.75%);
}
#blanket-b {
  position: absolute;
  top: 25%;
  left: 46.5%;
  transform: translate(-46.5%, -25%);
}